* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #dadde1;
}

a {
  color: #787bdb !important;
  font-weight: 500;
  font-size: 18px;
}

a:hover {
  color: #766fdd !important;
  font-weight: 600;
}

h1 {
  color: #fff;
}

li {
  font-size: 18px;
}

.Wrapper {
  margin: 20px;
}

.Weather {
  max-width: 850px;
  padding: 20px;
  margin: 0px auto;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature canvas {
  margin-right: 10px;
  margin-top: 10px;
}

.Weather .weather-temperature strong {
  color: #dadde1;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 17px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast {
  margin-top: 10px;
}

.Weather .weather-forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.Weather .weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.footer {
  margin: 0.8rem 0px -3px 0px;
}

.Searchbox {
  padding-right: 0px !important;
}

.Searchbox .form-control {
  width: 85%;
  margin-top: 0px;
  padding: 1.34rem 1.75rem;
  border: 1px solid #fff;
  border-radius: 4rem 0rem 0rem 0rem;
}

.search-button .btn-primary {
  width: 160% !important;
  margin-left: -5.58rem;
  padding: 0.6rem 0.75rem;
  color: #fff;
  background-color: #766fdd !important;
  border: 1px solid #766fdd !important;
  border-radius: 0rem 4rem 0rem 0rem;
}

.btn-primary:hover {
  background-color: #7052e0 !important;
  border-color: #7052e0 !important;
}

ul {
  list-style: none;
  margin-left: -2.3rem;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

@media only screen and (max-width: 397px) {
  /* For mobile phones: */
  .Weather .weather-temperature strong {
    font-size: 50px;
  }
  .Weather .weather-temperature canvas {
    margin-right: 0px;
  }
  ul {
    margin-left: -3.7rem;
  }
  .Searchbox .form-control {
    width: 74%;
  }
  .fahrenheit {
    margin-left: 27px;
  }
}
